<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <% include ../partials/head %>

</head>
<body>

<div class="container">
    <div class="container-fluid">
        <% include ../partials/topnav %>
        <h1><%= title %></h1>
        <p>Welcome to <%= title %></p>
    </div>
</div>
</body>
</html>
