<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <% include ../partials/head %>

</head>
<body>

<div class="container">
    <div class="container-fluid">
        <% include ../partials/topnav %>
    </div>
    <div class="container-fluid text-center">
        <!-- <div class="row content">
      <div class="col-sm-2 sidenav1">
        <p>

      </div> -->
        <div class="col-sm-10 text-left">

            <!-- this will be the beginning of the form that will contain the employee's information -->
            <!--Input for first and last name-->
            <h4 id="leave-eligible">Eligible</h4>
            <table id="eligibleTable">
                <tr>
                    <th>Plan Name</th>
                    <th>Dates</th>
                    <th>Eligibility</th>
                </tr>
                <!--<tr id="#">
                    <td id="assigned-leave"><a href="#">Federal Family and Medical Leave Act (FMLA)</a></td>
                    <td>10/20/2018 - 12/15/2018</td>
                    <td id="#">
                        <h5>12 Months of Service</h5>
                        <select name="#">
                            <option value="All">Met</option>
                            <option value="active">Not Met</option>
                        </select>
                        <br><br>
                        <h5>1250 Hours in Past 12 Months</h5>
                        <select name="#">
                            <option value="All">Met</option>
                            <option value="active">Not Met</option>
                        </select>
                        <br><br>
                        <h5>Qualified Person</h5>
                        <select name="#">
                            <option value="All">Met</option>
                            <option value="active">Not Met</option>
                        </select>
                    </td>
                </tr>
                <tr id="#">
                    <td id="assigned-leave"><a href="#">Federal Family and Medical Leave Act (FMLA)</a></td>
                    <td>10/20/2018 - 12/15/2018</td>
                    <td id="#">
                        <h5>12 Months of Service</h5>
                        <select name="#">
                            <option value="All">Met</option>
                            <option value="active">Not Met</option>
                        </select>
                        <br><br>
                        <h5>1250 Hours in Past 12 Months</h5>
                        <select name="#">
                            <option value="All">Met</option>
                            <option value="active">Not Met</option>
                        </select>
                        <br><br>
                        <h5>Qualified Person</h5>
                        <select name="#">
                            <option value="All">Met</option>
                            <option value="active">Not Met</option>
                        </select>
                    </td>
                </tr>-->

            </table>


            <br><br>
            <h4 id="leave-NotEligible">Not Eligible</h4>
            <table id="notEligibleTable">
                <tr>
                    <th>Plan Name</th>
                    <th>Dates</th>
                    <th>Eligibility</th>
                </tr>
                <!--<tr id="#">
                    <td id="#"><a href="#">Short Term Disability</a></td>
                    <td>10/20/2018 - 12/15/2018</td>
                    <td id="#">
                        <h5>Waiting Period</h5>
                        <select name="#">
                            <option value="All">Met</option>
                            <option value="active">Not Met</option>
                        </select>
                        <br><br>
                        <h5>Full-Time Status</h5>
                        <select name="#">
                            <option value="All">Met</option>
                            <option value="active">Not Met</option>
                        </select>
                        <br><br>
                    </td>

                </tr>-->
            </table>

            <br>

            <div class="form-row">
                <div class="col-md-12">
                    <button type="button" class="btn btn-secondary" id="leaveEligibilityBackButton"> ← Back</button>
                    <button type="submit" class="btn btn-primary" id="leaveSubmit">Submit Leave →</button>
                </div>
            </div>
        </div>


        <!--side bar where employee and supervisor info will populate-->
        <div class="col-sm-2 sidenav2">
            <div class="row">
                <p>
                    <a href="#">Leaves</a>
                </p>
                <p>
                    <a href="#">Manual Letters</a>
                </p>
                <p>
                    <a href="#">Provider Information</a>
                </p>
                <p>
                    <a href="#">Decision</a>
                </p>
                <p>
                    <a href="#">Eligibility Requirements</a>
                </p>
                <p>
                    <a href="#">Close Leave</a>
                </p>
                <br>
                <!-- <div class="col-sm-12"> -->
                <div class="well">
                    <p id="addName">First Last</p>
                    <p id="addAddress">100 someplace ave, somewhere, AN, 00000</p>
                    <p id="employeePhoneNumber">Phone Number: </p>
                    <p id="employeeGender">Gender:</p>
                    <p id="addEmail">Email: someone@place.com</p>
                    <p id="employeeStatus">Status:Active</p>
                </div>
                <!-- </div> -->
            </div>

            <div class="row">
                <!-- <div class="col-sm-12"> -->
                <div class="noteArea">

                </div>
                <!-- </div> -->
            </div>

            <br>

            <div class="row">
                <!-- <div class="col-sm-12"> -->
                <div class="well sidenav2">
                    <div id="supervisorcontacts">
                        <p id="supervisorName">Supervisor Name:</p>
                        <p id="supervisorPhoneNumber">Supervisor Number:</p>
                        <p id="supervisorEmail">Supervisor Email:</p>
                    </div>
                    <div id="HRcontacts">
                        <p id="supervisorName">Human Resources Name:</p>
                        <p id="supervisorPhoneNumber">Human Resources Number:</p>
                        <p id="supervisorEmail">Human Resources Email:</p>
                    </div>
                    <div id="payrollcontacts">
                        <p id="supervisorName">Payroll/Benefits Name:</p>
                        <p id="supervisorPhoneNumber">Payroll/Benefits Number:</p>
                        <p id="supervisorEmail">Payroll/Benefits Email:</p>
                    </div>
                    <!-- </div> -->
                </div>
                <div class="well">
                    <p id="updateClaimNumber">Leave ID: 2019000001</p>
                    <p id="dateOpened">Date Opened: 00/00/0000</p>
                    <p id="employeePhoneNumber">Phone Number: </p>
                    <p id="employeeGender">Gender:</p>
                    <p id="dateClosed">Date Closed:00/00/0000</p>
                    <p id="leaveStatus">Status:Opened</p>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<% include ../partials/footer %>
<script>
  let template =
    '    <tr>' +
    '        <td>{{leave_name}}</td>' +
    '        <td>{{from_date}} - {{to_date}}</td>' +
    '        <td>' +
    '{{eligibilityText}}' +
    '        </td>' +
    '  </tr>';
  let selectTemplateMet = '         <div>' +
    '        <h5>{{text}}</h5>' +
    '            <select>' +
    '                <option value="met" selected>Met</option>' +
    '                <option value="not met">Not Met</option>' +
    '            </select>' +
    '            <br><br>' +
    '        </div>';
  let selectTemplateNotMet = '         <div>' +
    '        <h5>{{text}}</h5>' +
    '            <select>' +
    '                <option value="met">Met</option>' +
    '                <option value="not met" selected>Not Met</option>' +
    '            </select>' +
    '            <br><br>' +
    '        </div>';
  $(document).ready(function () {
    let leaveEligibilityList = getCookie('leaveEligibilityList');
    // console.log(leaveEligibilityList)
    if (leaveEligibilityList !== '' && leaveEligibilityList !== undefined) {
      leaveEligibilityList = JSON.parse(leaveEligibilityList)
      // console.log(leaveEligibilityList)
      leaveEligibilityList.forEach(data => {
        let eligibilityText = '';
        (data.eligibilityData).forEach(d => {
          if (d.value === 'met') {
            eligibilityText += generatingTemplate(selectTemplateMet, d);
          } else {
            eligibilityText += generatingTemplate(selectTemplateNotMet, d);
          }
        });
        data['eligibilityText'] = eligibilityText;
        let templateData = generatingTemplate(template, data);
        if (data['eligible'] == 1) {

          $('#eligibleTable').append(templateData);
        } else {
          $('#notEligibleTable').append(templateData);

        }

        /*if (data['eligibility'].hasOwnProperty('hours') === true
          && data['eligibility']['hours'] === 'met') {
          $('#hoursSelect').val('met');
          // console.log('...................')

        } else if (data['eligibility'].hasOwnProperty('hours') === false) {
          $('#hoursDiv').remove();
        }
        if (data['eligibility'].hasOwnProperty('month') === true
          && data['eligibility']['month'] === 'met') {
          $('#monthSelect').val('met');
          // console.log('...................')

        } else if (data['eligibility'].hasOwnProperty('month') === false) {
          $('#monthDiv').remove();
        }*/
      })
    }
    $('select').on('change', function() {
      // alert( this.value );

      if(this.value==="not met"){
        $('#notEligibleTable').append($(this).parent().parent().parent())
      }
      if(this.value==="met") {
        console.log($(this).parent().parent())
        // console.log($(this).parent().parent().childList());
        var selecteditems = [];

        ($(this).parent().parent()).find("select").each(function (i, ob) {
          selecteditems.push($(ob).val());
        });
        const uniqueValue = [...new Set(selecteditems)]
        // console.log(uniqueValue,uniqueValue.length);
        if(uniqueValue.length==1){
          $('#eligibleTable').append($(this).parent().parent().parent())
        }
      }
    });
  });
</script>
</html>
