<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <% include ../partials/head %>

</head>
<body>

<div class="container">
    <div class="container-fluid">
        <% include ../partials/topnav %>
    </div>
    <div class="container-fluid text-center">
        <!-- <div class="row content">
      <div class="col-sm-2 sidenav1">
        <p>

      </div> -->
        <div class="col-sm-10 text-left">

            <!-- this will be the beginning of the form that will contain the employee's information -->
            <!--Input for first and last name-->
            <h4 id="leave-eligible">Eligible</h4>
            <table id="eligibleTable">
                <tr>
                    <th>Plan Name</th>
                    <th>Dates</th>
                    <th>Eligibility</th>
                </tr>
                <!--<tr id="#">
                    <td id="assigned-leave"><a href="#">Federal Family and Medical Leave Act (FMLA)</a></td>
                    <td>10/20/2018 - 12/15/2018</td>
                    <td id="#">
                        <h5>12 Months of Service</h5>
                        <select name="#">
                            <option value="All">Met</option>
                            <option value="active">Not Met</option>
                        </select>
                        <br><br>
                        <h5>1250 Hours in Past 12 Months</h5>
                        <select name="#">
                            <option value="All">Met</option>
                            <option value="active">Not Met</option>
                        </select>
                        <br><br>
                        <h5>Qualified Person</h5>
                        <select name="#">
                            <option value="All">Met</option>
                            <option value="active">Not Met</option>
                        </select>
                    </td>
                </tr>
                <tr id="#">
                    <td id="assigned-leave"><a href="#">Federal Family and Medical Leave Act (FMLA)</a></td>
                    <td>10/20/2018 - 12/15/2018</td>
                    <td id="#">
                        <h5>12 Months of Service</h5>
                        <select name="#">
                            <option value="All">Met</option>
                            <option value="active">Not Met</option>
                        </select>
                        <br><br>
                        <h5>1250 Hours in Past 12 Months</h5>
                        <select name="#">
                            <option value="All">Met</option>
                            <option value="active">Not Met</option>
                        </select>
                        <br><br>
                        <h5>Qualified Person</h5>
                        <select name="#">
                            <option value="All">Met</option>
                            <option value="active">Not Met</option>
                        </select>
                    </td>
                </tr>-->

            </table>


            <br><br>
            <h4 id="leave-NotEligible">Not Eligible</h4>
            <table id="notEligibleTable">
                <tr>
                    <th>Plan Name</th>
                    <th>Dates</th>
                    <th>Eligibility</th>
                </tr>
                <!--<tr id="#">
                    <td id="#"><a href="#">Short Term Disability</a></td>
                    <td>10/20/2018 - 12/15/2018</td>
                    <td id="#">
                        <h5>Waiting Period</h5>
                        <select name="#">
                            <option value="All">Met</option>
                            <option value="active">Not Met</option>
                        </select>
                        <br><br>
                        <h5>Full-Time Status</h5>
                        <select name="#">
                            <option value="All">Met</option>
                            <option value="active">Not Met</option>
                        </select>
                        <br><br>
                    </td>

                </tr>-->
            </table>

            <br>
            <div class="modal fade" id="confirmationModel" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel"></h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Do you want to save changes and send the letter?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <% if(employeeLeaveProviderInfo !== undefined && (JSON.parse(employeeLeaveProviderInfo)['leave_info_id']) !== undefined) { %>
                                <button type="button" class="btn btn-primary" id="leaveSubmit">Save changes</button>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="col-md-12">

                    <button type="button" class="btn btn-secondary" id="leaveEligibilityBackButton"> ← Back</button>
                    <button type="submit" class="btn btn-primary"
                    <% if(employeeLeaveProviderInfo === undefined || (JSON.parse(employeeLeaveProviderInfo)['leave_info_id']) === undefined) { %>
                            id="leaveSubmit"
                    <% } else { %>
                            data-toggle="modal" data-target="#confirmationModel"
                            <% } %>
                    >Submit Leave →
                    </button>
                </div>
            </div>
        </div>


        <!--side bar where employee and supervisor info will populate-->
        <div class="col-sm-2 sidenav2">
            <div class="row">
                <p>
                    <a href="#">Leaves</a>
                </p>
                <p>
                    <a href="#">Manual Letters</a>
                </p>
                <p>
                    <a href="#">Provider Information</a>
                </p>
                <p>
                    <a href="#">Decision</a>
                </p>
                <p>
                    <a href="#">Eligibility Requirements</a>
                </p>
                <p>
                    <a href="#">Close Leave</a>
                </p>
                <br>
                <!-- <div class="col-sm-12"> -->
                <!--<div class="well">
                    <p id="addName">First Last</p>
                    <p id="addAddress">100 someplace ave, somewhere, AN, 00000</p>
                    <p id="employeePhoneNumber">Phone Number: </p>
                    <p id="employeeGender">Gender:</p>
                    <p id="addEmail">Email: someone@place.com</p>
                    <p id="employeeStatus">Status:Active</p>
                </div>-->
                <% include ../partials/employeeinfo %>
                <!-- </div> -->
            </div>

            <div class="row">
                <!-- <div class="col-sm-12"> -->
                <div class="noteArea">

                </div>
                <!-- </div> -->
            </div>

            <br>

            <div class="row">
                <!-- <div class="col-sm-12"> -->
                <% include ../partials/employeecontactlist %>
                <div class="well">
                    <p id="updateClaimNumber">Leave ID: 2019000001</p>
                    <p id="dateOpened">Date Opened: 00/00/0000</p>
                    <p id="employeePhoneNumber">Phone Number: </p>
                    <p id="employeeGender">Gender:</p>
                    <p id="dateClosed">Date Closed:00/00/0000</p>
                    <p id="leaveStatus">Status:Opened</p>
                </div>
            </div>
        </div>
    </div>
    <h2 style="display:none;" id="employeeInfoDiv"><%= employeeInfo %></h2>
    <h2 style="display:none;" id="employeeLocationInfoDiv"><%= employeeLocationInfo %></h2>
    <h2 style="display:none;" id="employeeLeaveProviderInfoDiv"><%= employeeLeaveProviderInfo %></h2>
    <h2 style="display:none;" id="employeeLeaveEligibilityInfoDiv"><%= employeeLeaveEligibilityInfo %></h2>
</div>
</body>
<% include ../partials/footer %>
<script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script>
  let template =
    '    <tr>' +
    '        <td>{{leave_name}}</td>' +
    '        <td>{{from_date_format}} - {{to_date_format}}</td>' +
    '        <td>' +
    '{{eligibilityText}}' +
    '        </td>' +
    '  </tr>';
  let selectTemplateMet = '         <div>' +
    '        <h5>{{text}}</h5>' +
    '            <select name={{_id}} id={{_id}}>' +
    '                <option value="met" selected>Met</option>' +
    '                <option value="not met">Not Met</option>' +
    '            </select>' +
    '            <br><br>' +
    '        </div>';
  let selectTemplateNotMet = '         <div>' +
    '        <h5>{{text}}</h5>' +
    '            <select name={{_id}} id={{_id}}>' +
    '                <option value="met">Met</option>' +
    '                <option value="not met" selected>Not Met</option>' +
    '            </select>' +
    '            <br><br>' +
    '        </div>';
  $(document).ready(function () {
    let leaveEligibilityList = getCookie('leaveEligibilityList');

    let employeeInfo = $("#employeeInfoDiv").html();
    if (employeeInfo !== "") {
      setCookie('employeeInfo', (employeeInfo), 1);
    }
    let locationInfo = $("#employeeLocationInfoDiv").html();
    if (locationInfo !== "") {
      setCookie('locationInfo', (locationInfo), 1);
    }

    let leaveProviderInfo = $("#employeeLeaveProviderInfoDiv").html();
    if (leaveProviderInfo !== "") {
      let leaveReasonInfoData = {
        leaveReason: JSON.parse(leaveProviderInfo)['leaveReason'],
      };
      let leaveTypeInfoData = {
        startDate: JSON.parse(leaveProviderInfo)['startDate'],
        endDate: JSON.parse(leaveProviderInfo)['endDate'],
        leaveType: JSON.parse(leaveProviderInfo)['leaveType'],
      };
      setCookie('leaveReasonInfo', JSON.stringify(leaveReasonInfoData), 1);
      setCookie('leaveTypeInfo', JSON.stringify(leaveTypeInfoData), 1);
      setCookie('leaveProviderInfo', (leaveProviderInfo), 1);
    }
    if (leaveEligibilityList === '' || leaveEligibilityList === undefined || getQueryString('empId') > 0) {
      leaveEligibilityList = $("#employeeLeaveEligibilityInfoDiv").html();
      setCookie('leaveEligibilityList', (leaveEligibilityList), 1);
    }

    if (leaveEligibilityList !== '' && leaveEligibilityList !== undefined) {
      leaveEligibilityList = JSON.parse(leaveEligibilityList)
      // console.log(leaveEligibilityList)
      leaveEligibilityList.forEach(data => {
        let eligibilityText = '';
        if (typeof (data.eligibilityData) === 'string') {
          data.eligibilityData = JSON.parse(data.eligibilityData);
        }
        if (data['eligible'] === undefined) {
          data['eligible'] = 1;
        }

        (data.eligibilityData).forEach((d, index) => {
          d['_id'] = data['_comment'] + "-" + index;
          if (d.value === 'met') {
            eligibilityText += generatingTemplate(selectTemplateMet, d);
          } else {
            data['eligible'] = 0;
            eligibilityText += generatingTemplate(selectTemplateNotMet, d);
          }
          delete d['_id'];
        });
        data['eligibilityText'] = eligibilityText;
        // console.log(data);
        data['from_date_format'] = d3.time.format("%m/%d/%Y")(new Date(data['from_date']));
        data['to_date_format'] = d3.time.format("%m/%d/%Y")(new Date(data['to_date']));

        let templateData = generatingTemplate(template, data);
        if (data['eligible'] == 1) {

          $('#eligibleTable').append(templateData);
        } else {
          $('#notEligibleTable').append(templateData);

        }
      })
    }
    $('select').on('change', function () {
      // alert( this.value );
      let triggerValue = ($(this).attr('id') + "-" + $(this).val());
      // debugger
      triggerValue = triggerValue.split("-");
      leaveEligibilityList.forEach(data => {

        if (data['_comment'] == triggerValue[0]) {
          data['eligibilityData'][triggerValue[1]]['value'] = triggerValue[2]
        }
      });
      setCookie('leaveEligibilityList', JSON.stringify(leaveEligibilityList), 1);

      if (this.value === "not met") {
        $('#notEligibleTable').append($(this).parent().parent().parent())
      }
      if (this.value === "met") {
        console.log($(this).parent().parent())
        // console.log($(this).parent().parent().childList());
        var selecteditems = [];

        ($(this).parent().parent()).find("select").each(function (i, ob) {
          selecteditems.push($(ob).val());
        });
        const uniqueValue = [...new Set(selecteditems)]
        // console.log(uniqueValue,uniqueValue.length);
        if (uniqueValue.length == 1) {
          $('#eligibleTable').append($(this).parent().parent().parent())
        }
      }
    });
  });
</script>
</html>
