<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <% include ../partials/head %>

</head>
<body>

<div class="container">
    <% include ../partials/topnav %>
    <div class="container-fluid well" >
        <div class="row content">
            <div class="col-sm-2 sidenav">

            </div>
            <div class="col-sm-8 text-left margin-auto">
                <h1>Welcome</h1>
                <form>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputFirst4">First name</label>
                            <input type="text" class="form-control" id="inputFirst4" placeholder="First">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputLast4">Last Name</label>
                            <input type="text" class="form-control" id="inputLast4" placeholder="Last">
                        </div>
                    </div>
                    <div class="form-group">

                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label for="inputId">Employee ID</label>
                                <input type="text" class="form-control" id="inputId"
                                       placeholder="Employee Identification Number">

                                <br>

                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <div class="form-group">
                                            <label for="exampleInputPassword1">Leave ID</label>
                                            <input type="number" class="form-control" id="exampleInputPassword1"
                                                   placeholder="Leave Number">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                    <br>


                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <table id="employeeTable">
                                                    <tbody>
                                                    <tr></tr>

                                                    </tbody>
                                                </table>


                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </form>
                <hr>

            </div>
            <div class="row content">
                <div class="col-sm-2 sidenav">

                </div>

            </div>
        </div>
    </div>

</div>
</body>


</body>
</html>
